<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but it doesn't work properly without JavaScript enabled.
        Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    {% if ctx.app.config.env !== "local" %}

    <!-- manifest -->
    {% for item in manifest %}
    <script type="module" src="{{item.src}}"></script>
    {% if item.css %}
    <link rel="stylesheet" href="{{item.css}}"></link>
    {% endif %}
    {% endfor %}
    <!-- manifest -->

    {% else %}
    <script type="module" src="{{domain}}/@vite/client"></script>
    <script type="module" src="{{domain}}/src/main.ts"></script>
    {% endif %}
  </body>
</html>
