.forecast_container {
  display: flex;
  justify-content: space-between;
}

.forecast_container > .forecast {
  width: 19%;
}

.forecast {
  border: 1px solid #dcdfe6;
  border-collapse: collapse;
  margin: 15px 0;
  text-align: center;
}

.forecast td,
.forecast th {
  border: 1px solid #dcdfe6;
  padding: 5px;
}

.forecast th {
  background-color: #f2f6fc;
}

.forecast td.title,
.forecast th.title {
  text-align: left;
  padding: 5px 10px;
}

.forecast th > *.right {
  float: right;
}

.forecast .subtext {
  font-size: 0.8rem;
  color: #909399;
}

.forecast td.half {
  width: 50%;
}

.forecast td input {
  padding-right: 0;
}

.forecast td > * {
  padding: 0;
  margin: 0;
}
